:root {
    --bg-color: #5855EE;
    --hover: #FFC9D0;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

body {
    font-family: 'Manrope';
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* 
    FIRST SECTION   
*/

.nav-bar .container {
    width: 1400px;
    height: 800px;
    background-color: var(--bg-color);
    padding: 40px 60px;
    border-radius: 40px;
    margin-top: 30px;
}

.nav-sesction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 0 15px;
    margin: 0 5px;
}

.nav-link {
    font-size: 18px;
    font-weight: 550;
    transition: color .3s;
}

.nav-link:hover {
    color: var(--hover);
}

.join  {
    display: flex;
    align-items: center;
}

.join__icon {
    margin-right: 25px;
}

.join__text {
    background-color: white;
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: background .3s;
}

.join__text:hover {
    background-color: var(--hover);
}

.nav-bar__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.nav-bar__title {
    font-size: 60px;
    width: 50%;
    text-align: center;
    color: white;
}

.nav-bar__link {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px 35px;
    margin-top: 30px;
    border-radius: 5px;
    transition: background .3s;
}

.nav-bar__link:hover {
    background-color: var(--hover);
}

.nav-bar__link__slog {
    color: var(--bg-color);
    margin-right: 20px;
    font-size: 18px;
    font-weight: 550;
}

.nav-bar__image {
    position: relative;
}

.cloud1 {
    position: absolute;
    left: -5%;
    bottom: 60%;
}

.cloud2 {
    position: absolute;
    right: -2%;
    top: -10%;
}

.pc-image {
    transform: translate(20%, 5%);
}

/* 
    SECOND SECTION
*/

.main .container {
    padding: 500px 0;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__images {
    width: 50%;
}

.charts {
    background-image: url(../img/blur-bg.png);
    background-repeat: no-repeat;
    background-position-x: -100px;
}

.charts1 {
    display: flex;
    align-items: center;
}

.man2 {
    background-color: #7DB4DA;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.man3 {
    background-color: #FF9676;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.man4 {
    background-color: #7676FF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.man5 {
    background-color: #FFB65F;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.charts1__text {
    margin-left: 20px;
    font-size: 18px;
    color: rgba(0,0,0,0.6);
}

.charts2 {
    margin-bottom: 10px;
}

.charts-3 {
    margin-left: 10px;
}

.main__content {
    width: 45%;
}

.main__content__link {
    color: var(--bg-color);
    font-size: 17px;
    margin-bottom: 100px;
}

.main__content__title {
    font-size: 55px;
    margin: 30px 0;
}

.main__content__text {
    color: rgba(0,0,0,0.6);
    line-height: 1.5;
}

/* 
    THIRD SECTION
*/

.boxes .container {
    padding: 100px 0;
}

.boxes-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes-item {
    width: 30%;
    padding: 50px 40px;
    border-radius: 10px;
}

.box1 {
    background-color: #FFF7ED;
}

.box2 {
    background-color: #F2F3FF;
}

.box3 {
    background-color: #FFF0F3;
}

.boxes__image {
    margin-left: 30px;
}

.boxes__title {
    margin: 30px 0;
    text-align: center;
}

.boxes__text {
    font-size: 16px;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

/* 
    FOURTH SECTION  
*/

.mobile .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    background-color: var(--bg-color);
    padding: 0 50px;
    padding-top: 100px;
    border-radius: 30px;
    margin-bottom: 80px;
    transition: background .3s;
}

.mobile .container:hover {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.3));
}

.mobile__image {
    width: 50%;
}

.mobile-app__image {
    width: 100%;
}

.mobile__content__title {
    font-size: 55px;
    color: white;
    margin-right: 100px;
}

.mobile__link__section {
    margin-top: 30px;
    background-color: white;
    width: 35%;
    border-radius: 10px;
    transition: background .3s;
}

.mobile__content__link {
    color: var(--bg-color);
    display: flex;
    padding: 20px 30px;
    text-align: center;
}

.mobile__link__section:hover {
    background-color: var(--hover);
}

.mobile__link__slog {
    margin-right: 20px;
}

/* 
    FIFTH SECTION   
*/

.map .container {
    padding: 200px 0;
}

/* 
    SIXTH SECTION
*/

.clients .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0;
}

.clients__data {
    width: 40%;
}

.clients__data__link {
    font-size: 16px;
    color: var(--bg-color);
}

.clients__data__title {
    font-size: 55px;
    margin-bottom: 40px;
}

.clients__data .left, .clients__data .right {
    background-color: var(--bg-color);
    border: 2px solid rgb(47, 47, 233);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.clients__data .right {
    margin-left: 20px;
}

.clients__name {
    width: 50%;
    padding: 40px;
    background: #DCDBFF;
    background: linear-gradient(270deg, #FFFFFF 0%, #ECEBFA 98.36%);
    border-radius: 20px;
}

.clients__name__img {
    display: flex;
    align-items: center;
    position: relative;
}

.ellips1 {
    position: absolute;
    top: -80%;
    right: 10%;
}

.client__name__img {
    background-color: #FB9090;
    border-radius: 25px;
} 

.client__name__info {
    margin-left: 20px;
}

.client__name__info__text {
    font-size: 20px;
}

.client__name__info__link {
    color: var(--bg-color);
    font-size: 15px;
}

.clients__name__text {
    width: 80%;
    margin-top: 40px;
    color: rgba(0,0,0,0.5);
    line-height: 1.7;
    position: relative;
}

.ellips2 {
    position: absolute;
    left: 20%;
}

